 .kwicks {
     list-style: none;  
     position: relative;  
     margin: 0;  
     padding: 0;
	 background-image:url(imagenes/no_flicker.jpg); /*some browsers are to slow when aligning the menu items via jQuery and so the background shines through, this prevents this flickering*/

 }  
 .kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
	float: left;
	width:100px;
	height: 50px;
	margin-right: 0px;
	background-image:url(imagenes/kwicks_sprite.jpg);
	background-repeat:no-repeat;
}
.kwicks a{
	display:block;
	height:50px;
	text-indent:-9999px;
	outline:none;
}

#kwick1 {
	background-position:0px 0px;
}
#kwick2 {
	background-position:-150px 0px;
}
#kwick3 {
	background-position:-300px 0px;
}
#kwick4 {
	background-position:-450px 0px;
}
#kwick5 {
	background-position:-600px 0px;
}
#kwick6 {
	background-position:-750px 0px;
}
#kwick7 {
	background-position:-900px 0px;
}
#kwick8 {
	background-position:-1050px 0px;
}
#kwick9 {
	background-position:-1200px 0px;
}
#kwick10 {
	background-position:-1350px 0px;
}
#kwick1.active, #kwick1:hover { 
	background-position: 0 bottom;
}

#kwick2.active, #kwick2:hover { 
	background-position: -150px bottom;
}
#kwick3.active, #kwick3:hover { 
	background-position: -300px bottom;
}
#kwick4.active, #kwick4:hover { 
	background-position: -450px bottom;
}
#kwick5.active, #kwick5:hover { 
	background-position: -600px bottom;
}
#kwick6.active, #kwick6:hover { 
	background-position: -750px bottom;
}
#kwick7.active, #kwick7:hover { 
	background-position: -900px bottom;
}
#kwick8.active, #kwick8:hover { 
	background-position: -1050px bottom;
}
#kwick9.active, #kwick9:hover { 
	background-position: -1200px bottom;
}
#kwick10.active, #kwick10:hover { 
	background-position: -1350px bottom;
}
