@charset "utf-8";
/* CSS Document */


#body{
	height:100%;
	cursor:default;
	text-align : center;
	background-position : 50% 0;
	background-repeat : no-repeat;
}
#pagina{
	/*width: 100%;	
	overflow:hidden;*/
	background-color: #BBB;
	width: 1200px;
	overflow: hidden;
	margin: 0 auto 20px auto;
	}
#top{
	width:100%;
	height:370px;
	overflow:hidden;
	margin: auto auto 20px auto;
	background: rgb(247,247,247); 
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(61,61,61,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(61,61,61,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#3d3d3d',GradientType=0 ); 
	}
	
#fondoheader{
	width:1100px;
	height:310px;
	position:relative;
	background-color:#fff;
	margin: auto auto  auto  50px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:17px;
	-moz-border-radius-bottomleft:17px;
	-moz-border-radius-bottomright:17px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:17px;
	-webkit-border-bottom-left-radius:17px;
	-webkit-border-bottom-right-radius:17px;
	border-top-left-radius:0px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
	}
#header{
	width: 1100px;
	height:362px;
	overflow: visible;
	background-image:url(../imagenes/header.png);background-repeat: no-repeat;
}
#menucentro{
	width:1100px;
	height:auto;
	/*height:100%;*/
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
	overflow: hidden;	
	
	}
#info{
	width:1100px;
	height:auto;
	/*height:100%;*/
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
	overflow: hidden;	
	
	}
#cuerpoizq{
	width:700px;
	height:auto;
	/*height:100%;*/
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
	overflow: hidden;	
}
.cuerpoizq-sub
{
	padding-top: 2em; 
}

.no-pub
{
	margin: 2em;
}

#cuerpoder1{
	width:390px;
	height:300px;
	background-color: #fff;
	border-radius: 15px;
	margin-left: 10px;
	margin-top:20px;
	float:left;
	overflow:hidden;
	}
#cuerpoder{
	width:390px;
	height: auto;
	background-color: #fff;
	border-radius: 15px;
	margin-left: 10px;
	margin-top:20px;
	float:left;
	overflow:hidden;
	}
	
#pie{
	width: 100%;
	height:auto;
	margin-top: 20px;
	overflow:hidden;
	float:left;
	background: rgb(247,247,247); 
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(61,61,61,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(61,61,61,1))); 
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(61,61,61,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#3d3d3d',GradientType=0 );
	}

#cuerpoizq #not{
	height: 35px;
	margin-left: 20px;
	margin-top:-35px;
	max-width: 650px;
	border-radius: 10px;
	padding-bottom: 10px;
	background-color: #090;
	position:absolute;
	border: thin solid #fff;
	}
#cuerpoizq #not #titulon {
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}
#cuerpoizq #noticias{
	height: auto;
	margin-top:-10px;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom:15px;
	}
#cuerpoizq #noticiasn {
	width: 650px;
	overflow:auto;
	border: thin solid #090;
	border-bottom-left-radius: 10px;
	moz-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	moz-border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	moz-border-top-right-radius: 10px;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */
	}
					
#cuerpoizq #noticiasn #subtitulon {
	float:left;
	font-size: 24px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 10px;
	padding-bottom: 15px;						
	text-align: left;
	font-weight: bold;
	}
#cuerpoizq 	#noticiasn #subtitulon a{
	color: #333;
	}
#cuerpoizq #noticiasn #subtitulon a:hover{
	color:#666;
	}
#cuerpoizq #noticiasn  #subcategoria {
	font-size: 12px;
	text-align: left;
		}
#cuerpoizq #noticiasn  #subcategoria a{
	color: #000;
	}
#cuerpoizq #noticiasn  #subcategoria a:hover{
	color: #666;
	}
#cuerpoizq #noticiasn #resumenn {
	float: left;
	width: 95%;
	margin-right: 5px;
	margin-left: 20px;
	text-align: justify;
	line-height: 18pt;
	font-size: 16px;
	}
#cuerpoizq #noticiasn #ver {
	float:left;
	padding-bottom:10px;
	line-height: 25px;
	color:#060;
	width: 95%;
	margin-left:20px;
	border-bottom: 3px dashed #090;
	}
#cuerpoder #american {
	width: 90%;
	min-height:370px;
	margin-top:10px;
	margin-left:20px;
	border: thin solid #090;
	border-radius: 10px;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
	}
					
#cuerpoder #american #subtituloa {
	float:left;
	font-size: 22px;
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 10px;
	padding-bottom: 15px;						
	text-align: left;
	font-weight: bold;
	}
#cuerpoder 	#american #subtituloa a{
	color: #333;
	}
#cuerpoder #american #subtituloa a:hover{
	color:#666;
	}
#cuerpoder #american #resumena {
	float: left;
	width: 90%;
	margin-right: 5px;
	margin-left: 20px;
	margin-bottom:10px;
	text-align: justify;
	line-height: 18pt;
	font-size: 16px;
	}
#cuerpoder #american #ver {
	float:right;
	margin-right:55px;
	}

.htdata {
	/*font-family: Iskoola Pota;*/
	font-size: 1em;	 
	font-weight: bold;
	color: #FFF;
	background-color: #090;
}
.tdata {
	/*font-family: Iskoola Pota;*/
	/*font-size: 20px;
	background-color:#D8F6CE;
	border-bottom: #090 1px solid;
	color: #000;*/
	/*font-family: Iskoola Pota;*/
	font-size: 1em;
	line-height: 2em;	 
	color: #FFF;
	background-color: #090;
}
.tdata td {
	border-bottom: #090 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
}
label {
	font-family: Iskoola Pota;
	font-size: 1em;
	color: #000;
	margin-right: 10px;
	font-weight: bold;
}
#titulobloques{
		height: 35px;
		margin-top: 30px;
		margin-left: 15px;
		width: 360px;
		padding-bottom: 10px;
		background-color:#090; 
		border-radius: 10px;
}
#titulobloques #titulos {
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial;
	}
#titulobloques #pre{
	height:auto;
	padding:10px;
}

login-data {
	height: 100%;
	background-color: #E6F4CF;
}
#login-data form span input {
	border-radius: 10px;
	moz-border-radius: 10px;
	background-color: #CCC;
	height:30px;
}

#login-data form {
	text-align: right;
	vertical-align: middle;
	font-size:18px;
	padding-top:15px;
}
#login-data form label {
	margin-left: 22px;
	font-family:Arial;
}

.error {
	background-color:#C00;
	color:#FFF;
	text-align: center;
	width:200px;
	height:30px;
	font-size:11px;
}
input[type="submit"], input[type="reset"]{
    /*background-color: #009900;*/
    border-color: #818181;
    border-left: 2px solid #818181;
    border-radius: 5px 5px 5px 5px;
    border-right: 2px solid #818181;
    border-style: solid;
    border-width: 2px;
    /*color: #FFFFFF;*/
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px 0 0;
    padding: 10px;
	
	/*BORDER-RIGHT:#818181 2px solid;
	BORDER-LEFT: #818181  2px solid;
	BORDER-BOTTOM: #818181  2px solid;
	BORDER-TOP: #818181  2px solid;
	FONT-SIZE: 12px;
	MARGIN: 0px 10px 0px 0px;
	COLOR:#FFF;
	FONT-FAMILY: Arial;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: #090;
	border-radius:5px;*/
}
h1{
	font-family: Iskoola Pota;
	font-size:28px;
	font-weight:bold;
	color: #666;
}
#link{
	width:90%;
	height:auto;
	/*float:left;*/
	padding:15px;
}
#link #nombrelink{
	font-size:14px;
}
#link #nombrelink a{
	color:#666;
}
#link #nombrelink a:hover{
	color:#0C3;
}
#footer {
	clear:both;
	height: auto;
}
#footer #logo-footer #logoimg {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 70px;
}
#footer #logo-footer #footer-menu {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	text-align:left;
}
#footer #logo-footer #footer-menu2 {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 40px;
	text-align: center;
}
#page #footer #logo-footer #footer-menu2 h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
}
#footer #logo-footer #footer-menu2 ul {
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
#footer #logo-footer #footer-menu2 ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#footer #logo-footer #footer-menu h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	color: #666;
}
#footer #logo-footer #footer-menu ul {
	padding: 0px;
	list-style-type: none;
	text-align: left;
}
#footer #logo-footer #footer-menu ul li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#footer #logo-footer #creditos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	clear:both;
	float:right;
	margin-right: 20px;
}

#footer #logo-footer #footer-menu  li a {
	color: #fff;
}
#footer #logo-footer #footer-menu ul li a[href]:hover {
	color: #000;
}

#info #bloqueizq{
	width: 600px;
	height: 340px;
	margin-top:20px;
	margin-left: 70px;
	margin-right: auto;
	margin-bottom:15px;
	float:left;
	overflow:hidden;
	border: thin solid #090;
	border-radius: 10px;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */
	}


#info #bloqueder {
	width: 340px;
	height: 340px;
	margin-top:20px;
	margin-left: 20px;
	margin-right: auto;
	margin-bottom:15px;
	float:left;
	overflow:hidden;
	border: thin solid #090;
	border-radius: 15px;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */
	}

#sesion{
	width:60%;
	float: left;
	padding:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-left:15px;
	}
#infopersonal{
	width:60%;
	float: left;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	border-top: 3px dashed #090;
	border-bottom: 3px dashed #090;
	margin-left:15px;
	}
#personal{
	float: left;
	padding:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #424242;
	margin-left:15px;
	line-height:25px;
	}
#descpersonal{
	width:85%;
	float: left;
	margin-top:10px;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	border-top: 3px dashed #090;
	border-bottom: 3px dashed #090;
	margin-left:15px;
	}

#quienesomos{
	width:1100px;
	height:2000px;
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}
#quienesomos #quienesomost{
	height: 35px;
	margin-left: 50px;
	margin-top:35px;
	width: 300px;
	border-radius: 10px;
	padding-bottom: 10px;
	background-color: #090;
	border: thin solid #fff;
	float:left;
	}
#quienesomos #quienesomostitulo{
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#quienesomos #quienesomosinfo{
	font-size:16px;
	color: #818181;
	text-align: justify;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */

}
#quienesomos #quienesomosc{
	height: 35px;
	margin-left: 50px;
	margin-top:470px;
	width: 1000px;
	border-radius: 10px;
	padding-bottom: 10px;
	background-color: #090;
	border: thin solid #fff;
	float:left;
	}
#quienesomos #quienesomostituloc{
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#quienesomos #quienesomosinfoc{
	font-size:16px;
	color: #818181;
	width: 980px;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */

}
#idiomas{
	width:1100px;
	height:auto;
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}
#idiomas #idiomast{
	height: 35px;
	width: 300px;
	border-radius: 10px;
	padding-bottom: 10px;
	background-color: #090;
	border: thin solid #fff;
	position:relative;
	}
#idiomas #idiomastitulo{
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#idiomas #idiomasinfo{
	width:1000px;
	font-size:16px;
	color: #818181;
	text-align: justify;
	margin-top:40px;
	margin-left: 50px;
	margin-bottom:20px;
	float:left;
	position:relative;
	border-radius: 20px;
	font-family:Arial, Helvetica, sans-serif;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */

}
#subcat{
	width:1100px;
	height:auto;
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}
#subcat #subcatt{
	height: 35px;
	width: 350px;
	border-radius: 10px;
	padding-bottom: 10px;
	background-color: #090;
	border: thin solid #fff;
	position:relative;
	margin-top:5px;
	margin-left:20px;
	margin-bottom:5px;
	}
#subcat #titulosubcat{
	font-size:22px;
	color: #fff;
	text-align: center;
	padding: 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#subcat #subcatt #titulosubcat a,
#subcat #subcatt #titulosubcat a:visited
{
	color: fff;
	text-decoration: none;
}

#articulo{
	width:1100px;
	height:auto;
	background-color:#fff;
	border-radius: 15px;
	margin-left:50px;
	margin-top:20px;
	float:left;
}
#articulo #articulodata{
	text-align:right;
	margin-top:20px;
	margin-right:10px;
	margin-left:10px;
	border-bottom: 2px dashed #090;
}
#articulo #articulotitulo{
	margin-top:15px;
	margin-left:15px;
	margin-right:15px;
	font-size:28px;
	color:#000;
	border-bottom: 2px dashed #090;
}
#articulo #articuloresumen{
	float: left;
	width: 95%;
	margin-right: 5px;
	margin-left: 20px;
	text-align: justify;
	line-height: 18pt;
	font-size: 16px;
}
#articulo #doc{
	margin-left:20px;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}
#articulo #articuloinfo{
	width:1055px;
	font-size:16px;
	color: #818181;
	text-align: justify;
	margin-top:20px;
	margin-left: 20px;
	margin-bottom:20px;
	float:left;
	position:relative;
	border-radius: 20px;
	font-family:Arial, Helvetica, sans-serif;
	background: rgb(153,255,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(153,255,153,1) 0%, rgba(252,254,255,1) 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,255,153,1)), color-stop(89%,rgba(252,254,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(153,255,153,1) 0%,rgba(252,254,255,1) 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#fcfeff',GradientType=0 ); /* IE6-9 */

}
#utilidades{
	margin-top:20px;
	margin-bottom:60px;
	margin-left:20px;
	margin-right:20px;
	background-color:#090;
	border-radius: 10px;
	padding:15px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}

