	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 0;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}
	a
	{
		text-decoration: none;
	}

	/*a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}*/

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#membrete {
		border-bottom: 3px solid #FF0000;
	}

	.bg {
		border-bottom: 1px solid #000000;
		border-top: 1px solid #000000;
		border-right: 1px solid #000000;
		border-left: 1px solid #000000;
	}

	#body{
		margin: 0 15px 0 15px;
	}

	.centrado {
		text-align: center;
		margin: 0 auto;
	}

	form.entrar {

		border:none;
		-moz-border-radius:1em;
		-webkit-border-radius:1em;
		border-radius:1em;

		-moz-box-shadow: 0px 0px 12px #aaa;
		-webkit-box-shadow: 0px 0px 12px #aaa;
		box-shadow: 0px 0px 12px #aaa;


		background-color: #eee;

		padding: 2em;
		max-width: 300px;
		margin: 40px auto;
	}
	
	form.entrar input {

		border:#aaa thin solid;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;

		padding: 2px;
		display: block;
		margin: 10px 0; 
	}
	
	form.entrar label {
		color: #666;
		font-weight: bold;
	}

	h1.centrado {
		margin-top: 50px;
	}

	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	.footer_2 {
		text-align: right;
		font-size: 11px;
		font-weight: bold;
		color: #0000CC;
	}
	
	#container{
		margin: 10px auto;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
		max-width: 955px;
	}

	.info, .success, .warning, .error, .validation {
		border: 1px solid;
		margin: 10px 0px;
		padding:15px 10px 15px 50px;
		background-repeat: no-repeat;
		background-position: 10px center;
	}

	.info {
		color: #00529B;
		background-color: #BDE5F8;
		background-image: url('info.png');
	}

	.success {
		color: #4F8A10;
		background-color: #DFF2BF;
		background-image:url('success.png');
	}

	.warning {
		color: #9F6000;
		background-color: #FEEFB3;
		background-image: url('warning.png');
	}

	.error {
		color: #D8000C;
		background-color: #FFBABA;
		background-image: url('error.png');
	}

	.combo {
		background-color: transparent;
		color: #000;
		text-decoration: none;
		font-family: Arial;
		font-size: 14px;
		font-weight: normal;
	}

	.enlace_imprimir {
		color: #FF0000;
		text-decoration: none;
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
	}

	.enlace_imprimir:hover {
		color: #FF0000;
		text-decoration: underline;	
	}

	.enlace_visitor {
		color: #FF0000;
		text-decoration: none;
		font-family: Arial;
		font-size: 12px;
		font-weight: normal;
	}

	.enlace_visitor:hover {
		color: #FF0000;
		text-decoration: underline;	
	}

	.usuario {
		color: #0000CC;
		text-decoration: none;
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
	}

	.usuario:hover {
		color: #0000CC;
		text-decoration: underline;	
	}

	.texto {
		color: #666;
		text-decoration: none;
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
	}

	.informe_top {
		color: #000;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
	}

	.informe_title {
		color: #000;
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 16pt;
		font-weight: bold;
	}

	.informe_title2 {
		color: #000;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
	}

	.informe_body {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: normal;
		line-height: 25pt;
	}

	.informe_body2 {
		color: #000;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 25pt;
	}

	.informe_body3 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
	}

	.informe_body4 {
		color: #000;
		float: right;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
	}

	.informe_body5 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: normal;
	}

	.informe_body6 {
		color: #000;
		margin-left: 10px;
		background: #FF0000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 16pt;
		font-weight: bold;
		line-height: 20pt;
	}

	.informe_body7 {
		color: #000;
		text-transform: lowercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body8 {
		color: #000;
		margin-left: 10px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body9 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: normal;
		line-height: 15pt;
	}

	.informe_body10 {
		color: #000;
		float: right;
		margin-top: 7px;
		margin-right: 10px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body11 {
		color: #0000FF;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body12 {
		color: #000;
		text-transform: lowercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body13 {
		color: #000;
		margin-left: 10px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 12pt;
		font-weight: normal;
		line-height: 15pt;
	}

	.informe_body14 {
		color: #000;
		text-transform: uppercase;
		text-decoration: underline;
		font-family: Arial;
		font-size: 14pt;
		font-weight: bold;
	}

	.informe_body15 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 12pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body16 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 12pt;
		font-weight: normal;
		line-height: 15pt;
	}

	.informe_body17 {
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 10pt;
		font-weight: bold;
		line-height: 15pt;
	}

	.informe_body18 {
		color: #000;
		text-transform: lowercase;
		text-decoration: none;
		font-family: Arial;
		font-size: 14pt;
		font-weight: normal;
		line-height: 15pt;
	}

	.hr {
		color: #000;
	}

	h4 {
		color: #FF0000;
		text-decoration: none;
		font-family: Arial;
		font-size: 22px;
		font-weight: bold;
	}